[experiment]
workload = los
task = binary
binary_thresh = 2
categories = 2,7
years = 2018,2019,2020,2021
types = apriori,adm,proc,vital,lab
seq_hours = 24
clip_los = 30

load_mlm = false
save_model = true

[logging]
use_logging = true
experiment_name = binary
neptune_project_id = project/name
neptune_token_key = neptune_api_token

[optimization]
lr = 0.00001
warmup_proportion = 0.1
weight_decay = 0.003

[train_params]
epochs = 1000
batch_size = 128
max_len_seq = 256
use_gpu = true
patience = 10

[model_params]
hidden_size = 288
layer_dropout = 0.1
num_hidden_layers = 6
num_attention_heads = 8
att_dropout = 0.1
intermediate_size = 288
hidden_act = gelu
initializer_range = 0.02
features = word,position,age,gender
